<!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">GCommerce</li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Sign Up</a></a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Mens</a></li>
          <li><a href="#">Womans</a></li>
          <li><a href="#">Kids</a></li>
          <li><a href="#">Sale</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->