<!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">GCommerce</li>
           <ul class="right">
              <%if signed_in?%>
                <li><%=link_to current_user.email, edit_user_registration_path%></li>
                <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
              <%else%>
                <li><%=link_to "Register", new_user_registration_path%></li>
                <li><%=link_to "Login", new_user_session_path%></li>
              <%end%>
          </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Mens</a></li>
          <li><a href="#">Womans</a></li>
          <li><a href="#">Kids</a></li>
          <li><a href="#">Sale</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->
    